*{
    margin: 0;
    padding: 0;
}

a:visited{
    color: inherit;
}

body{
    font-family: Oxygen;


}

.header {
    position: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    
}
.container {
    max-width: 985px;
    margin: 0 auto;
}

.container__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__link{
    color: #FFF;
font-family: Lora;
font-size: 26px;
font-weight: 400;
line-height: 26px; /* 100% */
text-decoration: none;

}

.header__link:visited{
    color: #FFF;
}

.header__list {
    display: flex;
justify-content: flex-end;
gap: 40px;
    color: #FFF;
font-size: 12px;
font-weight: 400;
line-height: 20px; /* 166.667% */
letter-spacing: 0.6px;
text-transform: uppercase;
list-style: none;
}
.header__item {
}
.header__menu-link {
    color: #FFF;
font-size: 12px;
font-weight: 400;
line-height: 20px; /* 166.667% */
letter-spacing: 0.6px;
text-transform: uppercase;
text-decoration: none; 
padding: 27px;


}
.header-menu-link {
}

.page {
}
.hero {

}
.hero__page {
}
.hero-page {
    min-height: 100vh;
    background-image: url(./foto/fons_hero.jpg);
    background-size: cover;
}
.hero-page__title {
    
    color: #FFF;
text-align: center;
font-family: Lora;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 51px; /* 102% */
letter-spacing: 2px;
padding-top: 130px;
}
.hero-page__text {
    color: rgba(255, 255, 255, 0.63);
text-align: center;
font-size: 17px;
font-weight: 400;
line-height: 20px; /* 117.647% */
margin-top: 20px;
}
.hero-page__link {
}